In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import japanize_matplotlib
import sklearn
from sklearn.linear_model import LinearRegression

In [2]:
model = LinearRegression()

In [3]:
df = pd.read_csv('sampledata/data4/data4.csv',encoding='SHIFT-JIS')

In [4]:
df.head()

   気温   距離   交通量  地域  個数
0  30  280  3100  東京  30
1  29  320  2200  大阪  25
2  28  350  1500  東京  20
3  27  400  1800  大阪  15
4  26  470  1200  東京  10

In [5]:
#X(入力データ)
X = df.iloc[:,0:3]

In [6]:
X.head()

   気温   距離   交通量
0  30  280  3100
1  29  320  2200
2  28  350  1500
3  27  400  1800
4  26  470  1200

In [7]:
#y(結果データ)
y = df.iloc[:,-1:]

In [8]:
y.head()

   個数
0  30
1  25
2  20
3  15
4  10

In [9]:
#重回帰分析 a：係数 b:切片
model.fit(X,y)
print('a',model.coef_)
print('b',model.intercept_)

a [[ 2.42508461e+00 -3.84120065e-02  1.74275915e-03]]
b [-37.19824838]

In [10]:

#気温 = 30、 距離 = 280、交通量 = 3100　の予測
print(model.predict([[30,280,3100]]))

[[30.20148145]]

In [11]:
#スコア
model.score(X,y)

0.9694548720483085

In [12]:
#地域をダミーデータにする
X = pd.get_dummies(df,columns=['地域'])

In [13]:
X.head()

   気温   距離   交通量  個数  地域_大阪  地域_東京
0  30  280  3100  30      0      1
1  29  320  2200  25      1      0
2  28  350  1500  20      0      1
3  27  400  1800  15      1      0
4  26  470  1200  10      0      1

In [14]:
#個数カラムを落とす
X = X.drop('個数', axis='columns')

In [15]:
X.head()

   気温   距離   交通量  地域_大阪  地域_東京
0  30  280  3100      0      1
1  29  320  2200      1      0
2  28  350  1500      0      1
3  27  400  1800      1      0
4  26  470  1200      0      1

In [16]:
#重回帰分析 a：係数 b:切片
model.fit(X,y)
print('a',model.coef_)
print('b',model.intercept_)

a [[ 2.42472834e+00 -3.84153507e-02  1.74324183e-03  1.87618970e-03
  -1.87618970e-03]]
b [-37.18758552]

In [18]:

#気温 = 30、 距離 = 280、交通量 = 地域＝大阪の予測
print(model.predict([[30,280,3100,1,0]]))

[[30.2038923]]

In [19]:
#スコア
model.score(X,y)

0.9694548885647731

In [20]:
def Hello():
    print('HelloWorld')

In [21]:
Hello

In [22]:
Hello()

HelloWorld

In [27]:
def yosoku(data):
    return model.predict([data])

In [28]:
data = [30,280,3100,1,0]
print(yosoku(data))

[[30.2038923]]

In [29]:
data = [30,280,3100,'大阪']

In [30]:
#地域を条件分岐させる関数
def yosoku(data):
    if data[3] == '大阪':
        data[3] = 1
        data.extend([0])

    elif data[3] == '東京':
        data[3] = 0
        data.extend([1]) 

    else:
        return '地域指定に誤りがあります'
     
    return model.predict([data])

In [31]:
print(yosoku(data))

[[30.2038923]]

In [32]:
data = [30,280,3100,'東京']

In [33]:
print(yosoku(data))

[[30.20013992]]

In [34]:
data = [30,280,3100,'京都']

In [35]:
print(yosoku(data))

地域指定に誤りがあります

In [36]:
for i in range(3):
    print(X.columns[i])

気温
距離
交通量

In [42]:
for i in range(10):
    print(y.index[i])

0
1
2
3
4
5
6
7
8
9

In [44]:
print(X['気温'].min())

25

In [45]:
print(X['気温'].max())

34

In [47]:
print(X[X.columns[0]].min())

25

In [48]:
print(X[X.columns[0]].max())

34

In [49]:
for i in range(3):
    print(X.columns[i])
    print(X[X.columns[i]].min())
    print(X[X.columns[i]].max())

気温
25
34
距離
100
540
交通量
400
4800

In [51]:
data = [30,280,4d100,'東京']

In [52]:
print(yosoku(data))

[[31.94338175]]

In [53]:
#地域、内挿、外挿を考慮した関数
def yosoku(data):
    for i in range(3):
        if data[i] < X[X.columns[i]].min() or data[i] > X[X.columns[i]].max() :
            message = X.columns[i] + 'が外挿のデータです'
            return message

    if data[3] == '大阪':
        data[3] = 1
        data.extend([0])

    elif data[3] == '東京':
        data[3] = 0
        data.extend([1]) 

    else:
        return '地域指定に誤りがあります'
     
    return model.predict([data])

In [55]:
data = [30,280,3100,'東京']
print(yosoku(data))

[[30.20013992]]