In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('time-series.csv')

In [5]:
df.head() #アップルとマイクロソフトの日付ごとの株価データ

         date      AAPL     MSFT
0  2015-01-02  101.9635  42.5999
1  2015-01-05   99.0910  42.2036
2  2015-01-06   99.1003  41.5886
3  2015-01-07  100.4899  42.1170
4  2015-01-08  104.3510  43.3560

In [8]:
df['MSFT']

0        42.5999
1        42.2036
2        41.5886
3        42.1170
4        43.3560
5        42.9916
6        42.4541
7        42.2309
8        41.8665
9        41.4338
10       42.1261
11       42.2628
12       41.8346
13       42.9370
14       42.9825
15       42.8276
16       38.8646
17       37.5254
18       38.2725
19       36.8057
20       37.6074
21       37.8989
22       38.1176
23       38.6733
24       38.6369
25       38.5913
26       38.8100
27       38.6096
28       39.2564
29       39.9670
          ...
976     107.2800
977     108.2900
978     104.6200
979     101.7100
980     103.1100
981     103.0700
982     106.4700
983     107.1400
984     111.1200
985     110.1900
986     110.8900
987     112.0900
988     108.5200
989     109.1900
990     104.8200
991     107.5900
992     108.5900
993     109.0800
994     109.4500
995     106.0300
996     102.8900
997     103.9700
998     103.6900
999     101.5100
1000     98.2300
1001     94.1300
1002    100.5600
1003    101.1800
1004    100.3900
1005    101.5700
Name: MSFT, Length: 1006, dtype: float64