In [4]:
import pandas as pd
data = [
    [60,65,66],
    [80,85,88],
    [100,100,100]
]
df = pd.DataFrame(data)
df

     0    1    2
0   60   65   66
1   80   85   88
2  100  100  100

In [5]:
df.columns=["国語","数学","英語"]
df.index=["A太","B太","C太"]
df

     国語   数学   英語
A太   60   65   66
B太   80   85   88
C太  100  100  100

In [6]:
import pandas as pd
data = [
    [60,65,66],
    [80,85,88],
    [100,100,100]
]
col = ["国語","数学","英語"]
idx = ["A太","B太","C太"]
df = pd.DataFrame(data,columns=col,index=idx)
df

     国語   数学   英語
A太   60   65   66
B太   80   85   88
C太  100  100  100

#データフレームの作り方とカラムインデックスの名前の付け方を覚えた