In [1]:
import pandas as pd
data = [
    [60,65,66],
    [80,85,88],
    [100,100,100]
]
col = ["国語","数学","英語"]
idx = ["A太","B助","C子"]

df = pd.DataFrame(data,columns = col, index = idx)
df

     国語   数学   英語
A太   60   65   66
B助   80   85   88
C子  100  100  100

## データが科目ごとに提示されている場合

In [2]:
data = {
    "国語": [60,80,100],
    "数学": [65,85,100],
    "英語": [66,88,100]
}
idx = ["A太","B助","C太"]
df = pd.DataFrame(data, index=idx)
df

     国語   数学   英語
A太   60   65   66
B助   80   85   88
C太  100  100  100

In [3]:
print(data)

{'国語': [60, 80, 100], '数学': [65, 85, 100], '英語': [66, 88, 100]}